input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}




.rfid-image-container
{

   position:fixed;
    z-index:99999;
    transition: all 1s ease;
    display:block;
    width:100vw;
    height:100vh;
    background: rgba(31,20,37, 0.3);
    -webkit-backface-visibility: hidden;
}

@media only screen and (min-width: 600px) {

    .rfid-image
    {
        margin-left:25px;
    }
}



.modal-content {
    background: transparent;
    border:none;
}


#imagediv {
    padding:0px;
    margin: 0 auto;
    width: 500px;
    height: 500px;
    overflow: hidden;
    border: 1px solid rgba(51, 122, 183, 0.39);
    display: table;
}

#imagediv img {
    width: 100%;
    height: 500px;
}

#imagediv div{
    text-align: center;
    vertical-align: middle;
    height: 500px;
    background: #d3d3d3;
    display: table-cell;
}

.data-radio{
    margin-top:-10px !important;
    padding:0 !important;
    z-index:999;
    margin-left: 13px !important;
    width:50px;

}

.form-check-label{
    margin-left:-35px !important;
    width:5px !important;
    z-index:-999;

}

input[type=checkbox] {
    box-sizing: border-box;
    padding: 0;
    opacity:1 !important;
    visibility:visible !important;
    display:block !important;
    margin-left: 5px;
}
