.dropdown-menu , .dropdown-item
{
    /*width:200px;*/
    border-radius:3px;


}

/*#dropdown-button-drop-right*/
/*{*/
/*    width:300px;*/
/*    border:none ;*/
/*    color:black ;*/

/*}*/

.btn-dropdownnested
{

    border:none;
    color:black !important;
    text-align:left;
    width:230px;
    height: 40px;

}

.btn-dropdownnested-item
{

    border:none;
    color:black !important;
    text-align:left;
    width:230px;
    height: 35px;
    margin-left:-1.5px;


}

.btn-dropdownnested-item span p
{
    font-size:15px;
}
.btn-dropdownright:hover{
    color:black;
}
@media only screen and (max-width: 600px) {

    .btn-dropdownright {
        width:230px;
    }
    .dropdown-menu, .dropdown-item
    {
        margin-left: 15px !important;
    }
    .btn-dropdownnested-item
    {
        margin-left: 15px !important;
        width:215px;
    }
}

.dropdown-icon, .dropdown-text
{
    display: inline-block;
}
